.App{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.App_inner{
  flex: 0 0 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.display_items{
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 90%;
  justify-content: center;
}

.heading{
  flex: 0 0 100%;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid rgb(117, 116, 116);
  opacity: 0.8;
  justify-content: left;
}

.file_icon_heading{
  flex: 0 0 4%;
}

.file_name_heading{
  flex: 0 0 80%;
  margin-left: 2rem;
  font-weight: 700;
}

.download_button_span{
  flex: 0 0 10%;
  font-weight: 700;
}
.individual_item{
  height: 3rem;
  justify-content: left;
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 100%;  
  border-bottom: 1px solid rgb(117, 116, 116);
  opacity: 0.8; 
}

.file_icon{
  flex: 0 0 4%;
  border-radius: 10px;
  height: 2rem;
  margin-top: 0.5rem;
}

.individual_item_name{
  margin-top: 1rem;
  margin-left: 2rem;
  flex: 0 0 80%;
}

.download_button{
  flex: 0 0 10%;
  margin-top: 1rem;
  border: 1px solid black;
  border-radius: 1rem;
  text-align: center;
  transition: 0.3s;
  width: 6rem;
}

.download_button:hover{
  background-color: rgb(237, 235, 235);
  box-shadow: 1px 1px 1px;
}

