@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 0.7; }
  }
  
  @keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
  }


  .modal_description {
    animation: fadeIn 1s;
    position: fixed;
    z-index: 200;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60%;
    width: 50%; 
    max-width: 500px; 
    background-color: rgb(163, 158, 158);
    opacity: 0.7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); 
  }
  
  .modal_content_description_text{
    text-align: center;
    word-break: break-all;
    font-size: 1.2rem;
  }
  
  
  .close_description {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
  }
  
  .close_description:hover {
    color: rgba(0, 0, 0, 0.7); 
  }
  
  
  .close_description:hover {
    color: rgba(0, 0, 0, 0.7); 
  }
  
  .download_link_modal{
    text-align: center;
    margin-top: 2rem;
    background-color: rgb(81, 80, 80);
    border-radius: 2rem;
    height: 2.4rem;
    font-size: 1.8rem;
    color: rgb(205, 26, 214);
    font-weight: 600;
    transition: 0.3s;
  }
  
  .download_link_modal:hover{
    background-color: rgb(62, 61, 61);
    color: rgb(59, 4, 92);
    font-size: 1.9rem;
    height: 2.5rem;
  }
  