@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 0.9; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.admin_edit_files_App_inner {
    flex: 0 1 90%;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    flex-wrap: wrap;
}

.admin_edit_files_home_heading_section{
    flex: 0 0 85%;
    display: flex;
    justify-content: left;
    margin-bottom: 3rem;
    flex-wrap: wrap;
  }

  .admin_edit_files_home_heading_text{
    font-size: 3rem;
    flex: 0 0 100%;
    font-weight: 600;
    color: purple;
  }

  .admin_edit_files_home_heading_text_p{
    flex: 0 0 100%;
    font-size: 1rem;
    color: gray;
  }


.admin_edit_files_inner_elements_header {
    flex: 0 1 70%;
    display: flex;
}

.admin_edit_files_icon_inner_header {
    flex: 0 1 4%;
}

.admin_edit_files_display_items {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 90%;
    justify-content: center;
}

.admin_edit_files_heading {
    height: 3rem;
    justify-content: left;
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 88%;  
    border-bottom: 1px solid rgb(117, 116, 116);
    transition: 0.3s;
    margin-top: 2rem;
    opacity: 0.8; 
}

.admin_edit_files_file_icon_heading {
    flex: 0 1 4%;
    border-radius: 10px;
    padding: 10px;
    height: 3rem;
    margin-top: 20px;
}

.admin_edit_files_file_name_heading {
    margin-top: 1rem;
    margin-left: 1rem;
    flex: 0 1 35%;
    color: black;
    font-size: 0.8rem;
    font-weight: 600;
}

.admin_edit_files_uploaded_date_heading{
    margin-top: 1rem;
    margin-left: 1.5rem;
    flex: 0 1 10%;
    color: black;
    font-size: 0.8rem;
    font-weight: 600;
}

.admin_edit_files_file_updated_date_heading{
    margin-top: 1rem;
    margin-left: 1.5rem;
    flex: 0 1 10%;
    color: black;
    font-size: 0.8rem;
    font-weight: 600;
}

.admin_edit_files_download_button_span {
    margin-top: 1rem;
    margin-left: 2.5rem;
    flex: 0 1 10%;
    color: black;
    font-size: 0.8rem;
    font-weight: 600;
}

.admin_edit_files_action_button_heading{
    margin-top: 1rem;
    margin-left: 2rem;
    flex: 0 1 10%;
    color: black;
    font-size: 0.8rem;
    font-weight: 600;
}


.admin_edit_files_individual_item {
    height: 5rem;
    justify-content: left;
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 100%;  
    border-bottom: 1px solid rgb(117, 116, 116);
    transition: 0.3s;
    opacity: 0.8; 
}

/* .admin_edit_files_individual_item:hover {
    background-color: rgb(192, 191, 191);
    cursor: pointer;
} */

.admin_edit_files_image_icon_home {
    flex: 0 1 4%;
    width: 3rem;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid gray;
    height: 3rem;
    object-fit: contain;
}

.admin_edit_files_individual_item_name {
    margin-top: 2rem;
    margin-left: 2rem;
    font-weight: 600;
    flex: 0 1 35%;
}

.admin_edit_files_uploaded_date{
    margin-top: 1rem;
    margin-left: 1rem;
    font-weight: 600;
    flex: 0 1 10%;
}

.admin_edit_files_updated_date{
    margin-top: 1rem;
    margin-left: 1rem;
    font-weight: 600;
    flex: 0 1 10%;
}


.admin_edit_files_edit_button {
    flex: 1 1 10%;
    border: 1px solid gray;
    border-radius: 7px;
    text-align: center;
    transition: 0.3s;
    width: 4rem;
    font-weight: 600;
    color: black;
}

a {
    text-decoration: none;
}

.admin_edit_files_edit_button:hover {
    background-color: rgb(5, 203, 58);
    color: white;
    border: 1px solid rgb(5, 203, 58);
    box-shadow: 1px 1px 1px rgb(5, 203, 58);
    cursor: pointer;
}


.admin_edit_files_delete_button {
    flex: 1 1 10%;
    border: 1px solid gray;
    border-radius: 7px;
    text-align: center;
    font-weight: 600;
    transition: 0.3s;
    width: 4rem;
    color: black;
}

a {
    text-decoration: none;
}

.admin_edit_files_delete_button:hover {
    background-color: rgb(203, 5, 5);
    color: white;
    border: 1px solid rgb(203, 5, 5);
    box-shadow: 1px 1px 1px rgb(203, 5, 5);
    cursor: pointer;
}







.admmin_edit_files_filter_section{
    flex: 0 0 85%;
    flex-wrap: wrap;
    justify-content: right;
    display: flex;
}


.admin_edit_file_search_section {
    flex: 0 1 50%;
    display: flex;
    justify-content: left;
    margin-bottom: 2rem;
}

.admin_edit_file_search_container {
    position: relative;
    flex: 0 1 50%;
}

.admin_edit_file_search_bar {
    width: 100%;
    height: 2.5rem;
    padding: 0 10px 0 35px;
    border: 2px solid rgb(182, 179, 179);
    border-radius: 0.5rem;
    box-sizing: border-box;
}

.admin_edit_file_search_icon_home {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    pointer-events: none;
}

.admin_edit_file_search_bar:hover {
    box-shadow: 5px 5px 5px gray;
}


.admin_edit_files_date_filter{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    flex: 0 0 50%;
    display: flex;
    justify-content: right;
}

.admin_edit_files_date_input{
    flex: 0 0 25%;
    border: 1px solid gray;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 1rem;
    border-radius: 8px;
    color: gray;
    padding-left: 10px;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.admin_edit_files_date_label{
    margin-left: 1rem;
    color: gray;
    font-size: 1rem;
    padding-top: 5px;
    font-weight: 500;
}


.admin_edit_files_search_bar:hover {
    box-shadow: 5px 5px 5px gray;
}

.admin_edit_files_pagination {
    flex: 0 1 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
    justify-content: center;
}

.admin_edit_files_pagination_button {
    background-color: rgb(191, 3, 191);
    color: white;
    margin: 1rem;
    display: block;
    font-size: 1.5rem;
    padding: 0.3rem;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.2rem;
    border-radius: 3rem;
    text-align: center;
    transition: 0.2s;
}

.admin_edit_files_pagination_button.admin_edit_files_active {
    background-color: purple;
}

.admin_edit_files_pagination_button:hover {
    background-color: purple;
    box-shadow: 2px 2px 2px gray;
    cursor: pointer;
    text-decoration: underline;
}



.admin_edit_files_tab_container {
    display: inline-flex;
    justify-content: left;
    border: 1px solid #ccc;
    border-radius: 1rem;
    overflow: hidden; /* To ensure rounded corners work properly */
}

.admin_edit_files_tab {
    text-align: center;
    font-size: 1rem;
    display: inline-flex;
    cursor: pointer;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #ccc;
    transition: background-color 0.3s ease;
    padding: 0.5rem 1rem; /* Adjust padding as needed */
}

.admin_adit_files_tab_text {
    text-align: center;
    font-weight: 500;
}

.admin_edit_files_tab:hover {
    background-color: #e0e0e0;
}

.admin_edit_files_tab.admin_edit_files_active {
    background-color: purple;
    color: white;
    border: 2px solid white;
}

.admin_edit_files_tab:last-child {
    border-right: none;
}


.admin_edit_files_tab.admin_edit_files_active:last-child {
    background-color: purple;
    color: white;
    border: 2px solid white;
    border-right: none;
    border-radius: 0px 16px 16px 0px;
}

.admin_edit_files_tab.admin_edit_files_active:first-child {
    background-color: purple;
    color: white;
    border: 2px solid white;
    border-right: none;
    border-radius: 16px 0px 0px 16px;
}

.admin_edit_files_tabs_outer_container {

    flex: 0 0 85%;
    display: flex;
    justify-content: flex-start; 
    width: 100%;
}


.admin_edit_files_no_data_home_main {
    flex: 0 1 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.admin_edit_files_no_data_home_main_image_section {
    margin-top: 6rem;
    flex: 0 1 10%;
    height: 6rem;
    display: flex;
    justify-content: center;
}

.admin_edit_files_no_data_home_main_image {
    height: 5rem;
    width: 5rem;
}

.admin_edit_files_no_data_home_main_description {
    flex: 0 1 100%;
    text-align: center;
    margin-top: 0;
    color: gray;
}



.table_edit_files_container {
    flex: 0 0 85%;
    overflow-x: auto; 
}




.uploaded_by_container{
    flex: 0 0 100%;
    flex-wrap: wrap;
    display: flex;
}

.uploaded_by_image{
    flex: 0 1 15%;
    height: 3rem;
    width: 3rem;
    border-radius: 2rem;
    object-fit: cover;
}

.uploaded_by_details{
    flex: 0 1 60%;
    margin-left: 3px;
    display: flex;

    flex-wrap: wrap;
}

.uploaded_by_name{
    flex: 0 0 100%;
    font-size: 1rem;
    font-weight: bold;
    height: 1rem;
    color: black;
    margin-bottom: 0;
    line-height: 1rem;
}

.uploaded_by_email{
    flex: 0 0 100%;
    font-size: 0.8rem;
    padding: 0%;
    height: 0.8rem;
    line-height: 0.8rem;
}