
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 0.7; }
  }
  
  @keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
  }

  
.App_inner{
    flex: 0 0 70%;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    flex-wrap: wrap;
  }
  
  
  .inner_elements_header{
    flex: 0 0 70%;
    display: flex;
  }
  
  .icon_inner_header{
    flex: 0 0 4%;
  }
  
  .display_items{
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 70%;
    justify-content: center;
  }
  
  .heading{
    height: 3rem;
    justify-content: left;
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;  
    border-bottom: 1px solid rgb(117, 116, 116);
    transition: 0.3s;
    margin-bottom: 0;
    opacity: 0.8; 
  }
  
  .file_icon_heading{
    flex: 0 0 4%;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 4rem;
    margin-top: 0rem;
  }
  
  .file_name_heading{
    margin-top: 1rem;
    margin-left: 2rem;
    flex: 0 0 60%;
    font-weight: 700;
  }
  
  .download_button_span{
    padding-top: 2px;
    flex: 0 0 10%;
    margin-top: 0.7rem;
    border-radius: 7px;
    text-align: center;
    font-weight: 700;
    width: 6rem;
    color: black; 
  }
  .individual_item{
    height: 5rem;
    justify-content: left;
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;  
    border-bottom: 1px solid rgb(117, 116, 116);
    transition: 0.3s;
    opacity: 0.8; 
  }
  
  .individual_item:hover{
    background-color: rgb(192, 191, 191);
    cursor: pointer;
  }
  
  
  .image_icon_home{
    flex: 0 0 4%;
    width: 4rem;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 4rem;
    margin-top: 0rem;
  }
  
  .individual_item_name{
    margin-top: 1rem;
    margin-left: 2rem;
    flex: 0 0 60%;
  }
  
  .download_button{
    padding-top: 2px;
    padding-bottom: 2px;
    flex: 0 0 10%;
    margin-top: 1.5rem;
    border: 1px solid black;
    border-radius: 7px;
    text-align: center;
    transition: 0.3s;
    width: 6rem;
    color: black;
  }
  
  a {
    text-decoration: none; /* Remove underline */
  }
  
  .download_button:hover{
    background-color: rgb(237, 235, 235);
    box-shadow: 1px 1px 1px;
  }
  
  
  
  @media screen and (max-width: 1400px) {
    .App_inner{
      justify-self: right;
    }
    .individual_item{
      overflow-x: scroll;
      justify-content: center;
      flex-wrap: nowrap;
    }
    .heading{
      overflow-x: scroll;
      justify-content: center;
      flex-wrap: nowrap;
    }
    .file_icon_heading{
      width: 3rem;
      text-align: end;
    }
    .individual_item_name{
      flex: 0 0 80%;
      text-align: left;
    }
    .file_name_heading{
      flex: 0 0 80%;
      text-align: left;
    }
    .download_button_span{
      text-align: left;
      width: 4rem;
      font-size: 0.8rem;
    }
    .file_icon{
      width: 3rem;
      text-align: end;
    }
    .download_button{
      text-align: left;
      width: 4rem;
      font-size: 0.8rem;
    }
  }
  
  
  @media screen and (max-width: 800px) {
    .individual_item_name{
      font-size: 1rem;
    }
  
    .heading{
      font-size: 1rem;
    }
  
    .file_name_heading{
      text-align: left;
    }
  
  
    .download_button{
      flex: 0 0 5%;
      font-size: 1rem;
    }
    .file_icon{
      margin-top: 0.5rem;
    }
  }
  
  
  


  .search_section{
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .search_bar{
    flex: 0 0 70%;
    height: 2rem;
    border: 1px solid gray;
    border-radius: 0.5rem;
  }

  .search_icon_home{
    flex: 0 0 5%;
    margin-top: 10px;
  }


  .search_bar:hover{
    box-shadow: 5px 5px 5px gray;
  }

  .pagination{
    flex: 0 0 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .pagination_button{
    background-color: rgb(191, 3, 191);
    margin: 1rem;
    height: 2rem;
    flex: 0 0 5%;
    border-radius: 2rem;
    text-align: center;
    transition: 0.2s;
  }

  .pagination_button.active{
    background-color: purple
  }



  .pagination_button:hover{
    background-color: purple;
    box-shadow: 2px 2px 2px gray;
    cursor: pointer;
    text-decoration: underline;
  }
