
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 0.9; }
  }
  
  @keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
  }

  
.App_inner{
    flex: 0 0 70%;
    margin-left: 10rem;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    flex-wrap: wrap;
  }
  
  
  .inner_elements_header{
    flex: 0 0 70%;
    display: flex;
  }
  
  .icon_inner_header{
    flex: 0 0 4%;
  }
  
  .display_items{
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 70%;
    justify-content: center;
  }
  
  .heading{
    height: 3rem;
    justify-content: left;
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;  
    border-bottom: 1px solid rgb(117, 116, 116);
    transition: 0.3s;
    margin-bottom: 0;
    opacity: 0.8; 
  }
  
  .file_icon_heading{
    flex: 0 0 4%;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 4rem;
    margin-top: 0rem;
  }
  
  .file_name_heading{
    margin-top: 1rem;
    margin-left: 2rem;
    flex: 0 0 60%;
    font-weight: 700;
  }
  
  .download_button_span{
    padding-top: 2px;
    flex: 0 0 10%;
    margin-top: 0.7rem;
    border-radius: 7px;
    text-align: center;
    font-weight: 700;
    width: 6rem;
    color: black; 
  }
  .individual_item{
    height: 5rem;
    justify-content: left;
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;  
    border-bottom: 1px solid rgb(117, 116, 116);
    transition: 0.3s;
    opacity: 0.8; 
  }
  
  .individual_item:hover{
    background-color: rgb(192, 191, 191);
    cursor: pointer;
  }
  
  
  .image_icon_home{
    flex: 0 0 4%;
    width: 3rem;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 4rem;
    margin-top: 0rem;
    object-fit: contain;  
  }
  
  .individual_item_name{
    margin-top: 1rem;
    margin-left: 2rem;
    flex: 0 0 60%;
  }
  
  .download_button{
    padding-top: 2px;
    padding-bottom: 2px;
    flex: 0 0 10%;
    margin-top: 1.5rem;
    border: 1px solid black;
    border-radius: 7px;
    text-align: center;
    transition: 0.3s;
    width: 6rem;
    color: black;
  }
  
  a { 
    text-decoration: none; 
  }
  
  .download_button:hover{
    background-color: rgb(203, 5, 203);
    color: white;
    text-decoration: underline;
    border: 1px solid rgb(203, 5, 203);
    box-shadow: 1px 1px 1px purple;
  }
  
  
  
  @media screen and (max-width: 1400px) {
    .App_inner{
      justify-self: right;
    }
    .individual_item{
      overflow-x: scroll;
      justify-content: center;
      flex-wrap: nowrap;
    }
    .heading{
      overflow-x: scroll;
      justify-content: center;
      flex-wrap: nowrap;
    }
    .file_icon_heading{
      width: 3rem;
      text-align: end;
    }
    .individual_item_name{
      flex: 0 0 80%;
      text-align: left;
    }
    .file_name_heading{
      flex: 0 0 80%;
      text-align: left;
    }
    .download_button_span{
      text-align: left;
      width: 4rem;
      font-size: 0.8rem;
    }
    .file_icon{
      width: 3rem;
      text-align: end;
    }
    .download_button{
      text-align: left;
      width: 4rem;
      font-size: 0.8rem;
    }
  }
  
  
  @media screen and (max-width: 800px) {
    .individual_item_name{
      font-size: 1rem;
    }
  
    .heading{
      font-size: 1rem;
    }
  
    .file_name_heading{
      text-align: left;
    }
  
  
    .download_button{
      flex: 0 0 5%;
      font-size: 1rem;
    }
    .file_icon{
      margin-top: 0.5rem;
    }
  }
  
  
  


  .search_section{
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .search_bar{
    flex: 0 0 70%;
    height: 2.5rem;
    padding: 0 10px;
    border: 2px solid rgb(182, 179, 179);
    border-radius: 0.5rem;
  }

  .search_icon_home{
    flex: 0 0 5%;
    margin-top: 10px;
  }


  .search_bar:hover{
    box-shadow: 5px 5px 5px gray;
  }

  .pagination{
    flex: 0 0 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
    justify-content: center;
  }

  .pagination_button{
    background-color: rgb(191, 3, 191);
    color: white;
    margin: 1rem;
    display: block;
    font-size: 1.5rem;
    padding: 0.3rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 3rem;
    text-align: center;
    transition: 0.2s;
  }

  .pagination_button.active{
    background-color: purple
  }



  .pagination_button:hover{
    background-color: purple;
    box-shadow: 2px 2px 2px gray;
    cursor: pointer;
    text-decoration: underline;
  }




  .tab-container {
    flex: 0 0 75%;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.tab {
    flex: 1;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
}

.tab:hover {
    background-color: #e0e0e0;
}

.tab.active {
    background-color: purple;
    color: white;
}


.no_data_home_main{
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.no_data_home_main_image_section{
  margin-top: 6rem;
  flex: 0 0 10%;
  height: 6rem;
  display: flex;
  justify-content: center;
}

.no_data_home_main_image{
  height: 5rem;
  width: 5rem;
}

.no_data_home_main_description{
  flex: 0 0 100%;
  text-align: center;
  margin-top: 0;
  color: gray;
}